{% extends "layout.html" %}
{% block content %}
    <h1>Tracking page</h1>
    <table id="table" class="table-dark"></table>

    <script>
        var $table = $('#table')
      
        function buildTable($el) {
          var columns = []
          var data =  JSON.parse('{{ sensors|tojson }}');
      
          columns.push({
              title: 'Sensor_id',
              field: 'sensor_id',
            })
      
          columns.push({
              title: 'Name',
              field: 'name',
            })
      
          columns.push({
              title: 'Description',
              field: 'description',
            })
      
          
          $el.bootstrapTable({
            columns: columns,
            data: data,
            search: true,
            detailView: true,
            onExpandRow: function (index, row, $detail) {
              expandTable($detail, index)
            },
          })
        }

        function buildSubTable($el, index) {
          var columns = []
          var dataSensors =  JSON.parse('{{ sensors|tojson }}');
          
          columns.push({
              title: 'name',
              field: 'name',
            })

          columns.push({
              title: 'Date',
              field: 'date',
              sortable: 'true',
            })

          columns.push({
              title: 'Message',
              field: 'description',
            })

          $el.bootstrapTable({
            columns: columns,
          })

          for (let i = 0; i < dataSensors[index].tracking.length; i++) {

            $el.bootstrapTable('insertRow', {
              index: i,
              row: {
                name: dataSensors[index].tracking[i].name,
                date: dataSensors[index].tracking[i].date,
                description: dataSensors[index].tracking[i].description
              }
            })
          } 
        }
      
        function expandTable($detail, index) {
          buildSubTable($detail.html('<table></table>').find('table'), index)
        }

        $(function() {
          buildTable($table)
        })
    </script>
{% endblock content %}